* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eaf7fc;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

header h1 {
  color: #007acc;
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-pic {
  width: 140px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#about,
#interests,
#Introduce\ myself,
#skills {
  margin-bottom: 20px;
  text-align: left;
}

#about {
  text-align: center;
}

#about li {
  list-style-type: none;
  margin-left: -19px;
}

h2 {
  color: #005fa3;
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

h2:hover {
  color: #007acc;
}

ul {
  list-style-type: square;
  padding-left: 20px;
  font-size: 1rem;
  color: #333;
}

ul li {
  margin-bottom: 8px;
  line-height: 1.6;
}

footer {
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007acc;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

.dark-mode button {
  background-color: #555;
  color: #f4f4f4;
}

.dark-mode h1,
.dark-mode h2 {
  color: #66ccff;
}